.demande{
    width: 100%;
    max-height: max-content;
    padding: 10px;
    overflow-y: auto;
}

.demande fieldset legend{
    color: royalblue;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 1.6em;
    margin-bottom: 10px;
}
.demande fieldset {
    margin-bottom: 18px;
    border: none;
}

.demande .infos table{
        width: 100%;
        height: 100px;
        text-align: left;
    }
.demande input{
    width: 300px;
    padding: 5px;
}
.btn{
        display: block;
        width: fit-content;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        background-color: royalblue;
        color: whitesmoke;
        font-weight: bold;
        cursor: pointer;
}
.ErrValid{
    color: red;
    display: block;
    margin-top: 4vh;
}