.Contact {
    width: 60%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    padding: 2%;
    text-align: center;
    -webkit-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
}

.Contact fieldset legend{
    color: royalblue;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 1.6em;
    margin-bottom: 10px;
}
.Contact fieldset {
    margin-bottom: 18px;
    border: none;
}

.Contact label{
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

.Contact input{
    width: 300px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.Contact textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
}