.Colis form {
    width: 60%;
    min-width: 10%;
    text-align: center;
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    padding: 4%;
    padding-top: 1%;
    margin:2%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.75);
}
.Colis form fieldset legend{
        color:royalblue;
        font-size: 1.2em;
}
.Colis form fieldset{
    font-size: 1em;
}

.Colis form fieldset label, form fieldset input{
    display: block;
}

.Colis form fieldset input {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.Colis form fieldset input[type="radio"]{
    display: inline;
    width: 25px;
    height: 20px;
    padding:2px;
    margin:0 5px;
}
